h1{background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 5px;
}
span{
    color: #00ffff;}

h3{
    background-color: #673399;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    font-style: italic;
    padding: 5px;}

p{background-color: #9FC5F8;
    text-align: right; 
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 5px;}